<!--change_output.vtl.-->
<h1>Here is your change total!</h1>
<h3>Here are your coin amounts:</h3>
<p>
  $changeString
</p>
<h3>Here is your amount total:</h3>
<p>
  $amount
</p>
<h3>The machine has these coins left:</h3>
<p>
  Quarters: $remainingQuarters
</p>
<p>
  Dimes: $remainingDimes
</p>
<p>
  Nickel: $remainingNickels
</p>
<p>
  Pennies: $remainingPennies
</p>
<!--change_output.vtl.-->
