<!--form.vtl.-->
<h1>Please provide a dollar amount and I will tell you how to make change in the fewest coins.</h1>
<form action='/change_output'>
  <div class="form-group">
    <label for="amount">Your amount (ex. 0.50)</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<!--form.vtl.-->
